html{
	width: 100%;
	height: 100%;
}



}

#color{
	width: 200px;
	height: 60px;	
	position: absolute;
	right: 50%;
	margin-right: -125px;
	top: 520px;
	-webkit-box-shadow: none;
	box-shadow: 1px 1px 10px red;
	border: none;
}
#color:hover{
	box-shadow: 1px 1px 50px red;
}
h1{	
	position: absolute;
	right: 50%;
	margin-right: -400px;
	top: 520px;
	color: #666;
}

